/* src/assets/fonts/fonts.css */
@font-face {
    font-family: 'MyCustomFont';
    src: url('/public/fonts/Bravely.otf') format('opentype');
         /* url('/fonts/mycustomfont.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
  }
  